<div class="container">
	<div class="row">
		<div class="col-8">
			<div class="card mt-5 mb-5">
			  <h5 class="card-header">User Detail</h5>
			  <div class="card-body">
					  <div class="col-md-12">
					    <label for="inputFirstName" class="form-label"><strong>First Name: </strong></label>
					    {{ userData.first_name }}
					  </div>
					  <div class="col-md-6">
					    <label for="inputLastName" class="form-label"><strong>Last Name: </strong></label>
					    {{ userData.last_name }}
					  </div>
					  <div class="col-md-6">
					    <label for="inputEmail" class="form-label"><strong>Email Address: </strong></label>
					    {{ userData.email }}
					  </div>
					  <div class="col-md-6">
					    <label for="inputPhone" class="form-label"><strong>Phone: </strong></label>
					    {{ userData.phone }}
					  </div>					  
			  </div>
			  <div class="card-footer">
			  	<div class="col-12">
				  	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				    	<button 
				    		type="button" 
				    		class="btn btn-warning btn-sm"
				    		routerLink="/users"
				    	>Back</button>
					</div>
				  </div>
			  </div>	
			</div>
		</div>
	</div>
</div>